%h1
  =t "categories.label.edit_header"

= render "form"

= link_to t("categories.button.show"), admin_category_path(@admin_category), class: "btn btn-info"
= link_to t("categories.button.back"), admin_categories_path, class: "btn btn-default"
