<!DOCTYPE html>
<html>
<head>
<!-- !!_!! -->
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">BLOG</h1>
      <p class="lead blog-description">My experimental blog.</p>
    </div>

<%= yield %>

  </div>

</body>
</html>
